@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('/src/sass/fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url('/src/sass/fonts/Raleway-Regular.ttf') format('truetype');
}
