.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__icon {
    max-width: 32em;
  }

  &__title {
    line-height: 0;
  }

  &__message {
    font-size: 2em;
    padding: 0 1em;
    text-align: center;
  }
}
