@import '~/src/sass/global';

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
  max-width: 1440px;
  @include for-breakpoint(maxSize) {
    margin: 0 auto;
  }
  @include for-breakpoint(minSize) {
    margin: 0;
    max-width: 320px;
    min-width: 320px;
  }
}
